@media screen and (min-width:1025px) and (max-width:1100px) {

/*challange page*/
.mo_chlng_filter_box{padding:15px 10px;}
.res_filter_sec{margin:0 10px 0px 0px;}
/*profile page*/
.gameplay-box .gameplay-box-leftside{width:220px;}
.gameplay-box-leftside span.gameplay-box-gamename{top:0px;}
.gameplay-box .gameplay-box-rightside{padding-left:230px !important;}
.gameplay-result ul{padding:0px;}	
.gameplay-result ul li{margin:0px;}


}

@media screen and (min-width:1001px) and (max-width:1024px) {

/*commen style for mobile*/
.mobile-display-none{display:inline;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo{margin-left:20px;  width:auto; line-height:50px;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}

.content-left{width:270px;}
.content-right{padding-left:270px;}
.open > .content-right{position:absolute; padding-left:350px; display:block !important;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 100px; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: 120px; line-height: 30px; padding: 0 5px; position: absolute; right: inherit; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer .f-left{width:100%;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit; padding:0 7px;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px; width:auto !important;}
.esport-mail{margin-right:20px; float:right; line-height:inherit; width:auto !important;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center;}
.esport-footer-logo .f-left{margin:0 10px;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0 40px;}
.esport-botfoot-right span{float:left; margin-left:20px;}
.esport-botfoot-right a{float:right; margin-right:20px;}
.left-pannel-arrow{display:none;}
#footer{position:relative; z-index:11;}
.esport-blog-box{min-width:100%;}
.esport-blog-img img{width:100%;}
.esport-blog-box{min-height:inherit;}
.esport-blog-img, .esport-bolg-title{width:50%; float:left; min-height:inherit;}

/*dashboard page*/
.sub_head .logo {line-height: 50px; margin-left: 20px;}
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:none !important; float:left;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 20px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:20px;}
.dashboardNavbar > li > a.main_link > i.fa-bell {padding:0; }
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px;}
.avatar img{height: 30px; margin-right:10px; width: 30px; float:left; position:relative; top:4px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:22px; bottom:30px;}
.tour-chal-box a:hover span{bottom:40px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:0px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.right_user_panel{overflow-y:auto;}
.secondry_pannel{margin-top: 50px;}

/*challange page*/
.mo_chlng_filter_box{padding:15px 10px;}
.res_filter_sec{margin:0 5px 0px 0px;}

/*profile page*/
.gameplay-box .gameplay-box-leftside{width:220px;}
.gameplay-box-leftside span.gameplay-box-gamename{top:0px;}
.gameplay-box .gameplay-box-rightside{padding-left:230px !important;}
.gameplay-result ul{padding:0px;}	
.gameplay-result ul li{margin:0px;}
}


@media screen and (min-width:769px) and (max-width:1000px) {

/*commen style for mobile*/
.mobile-display-none{display:none;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo{margin-left:20px;  width:auto; line-height:50px;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}

.content-left{width:270px;}
.content-right{padding-left:270px;}
.open > .content-right{position:absolute; padding-left:350px; display:block !important;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 100px; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: 120px; line-height: 30px; padding: 0 5px; position: absolute; right: inherit; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer .f-left{width:100%;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit; padding:0 7px;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px; width:auto !important;}
.esport-mail{margin-right:20px; float:right; line-height:inherit; width:auto !important;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center;}
.esport-footer-logo .f-left{margin:0 10px;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0 40px;}
.esport-botfoot-right span{float:left; margin-left:20px;}
.esport-botfoot-right a{float:right; margin-right:20px;}
.left-pannel-arrow{display:none;}
#footer{position:relative; z-index:11;}
.esport-blog-box{min-width:100%;}
.esport-blog-img img{width:100%;}
.esport-blog-box{min-height:inherit;}
.esport-blog-img, .esport-bolg-title{width:50%; float:left; min-height:inherit;}

/*dashboard page*/
.sub_head .logo {line-height: 50px; margin-left: 20px;}
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:block !important; float:left;}
.dashboardNavbar > li{float:left; border:none;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0px;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:18px;}
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px}
.coins-img {margin-right:0px !important;}
.coins-img img{width:20px;}
.avatar img{height: 30px; margin-right: 0; width: 30px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:22px; bottom:30px;}
.tour-chal-box a:hover span{bottom:40px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:0px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.secondry_pannel_close{width:0px;}
.secondry_pannel{margin-top: 50px;}
.secondry_pannel_close .secondry_pannel_toggle{display:none;}
.close_secondry_pannel{display:none;}
.right_user_panel{overflow-y:auto;}

/*challange page*/
.mo_chlng_filter_box{padding:15px 10px;}
.res_filter_sec{margin:0 5px 20px 0px;}

/*profile page*/
.user-banner-main{height:180px;}
.esport-user_banner{background-size:100% 100%, cover;}
.user-avatar{width:80px; height:80px;}
.user-detail{padding-left:90px; font-size:11px; bottom:15px;}
.user-avtar-detail{width:auto;}
.user-name h3{font-size:16px;}
.dashboard-box .mo_width50{width:50%;}
.user-sapret-box{border-bottom:1px solid #e5e5e5;}
.dashboard-box{padding:7px;}
.gameplay-box .gameplay-box-leftside{width:100%;}
.gameplay-box-leftside span.gameplay-box-gamename{ transform: none; width:100%;}
.gameplay-box .gameplay-box-leftside img{width:100%;}
.gameplay-box .gameplay-box-rightside{padding: 5px !important; position:relative; height:auto;}
.gameplay-rightsideTop-buttons{margin:5px 0;}
.gameplay-rightsideTop-buttons .btn-gameplay{padding: 5px 20px; font-size:11px !important;}
.gameplay-content-statesticsBox{margin-bottom:5px;}
.gameplay-result{width:100%; text-align:center;}
.gameplay-result ul{padding:0px}
.gameplay-result-title{margin:5px 0;}
.gameplay-result ul li{margin:5px 3px;}
.gameplay-boxshadow{position: relative; top: -4px;}



	
}


@media screen and (min-width:641px) and (max-width:768px) {

/*commen style for mobile*/
.mobile-display-none{display:none;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo{margin-left:20px;  width:auto; line-height:50px;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}

.content-left{width:270px;}
.content-right{padding-left:270px;}
.open > .content-right{position:absolute; padding-left:350px; display:block !important;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 100px; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: 120px; line-height: 30px; padding: 0 5px; position: absolute; right: inherit; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer .f-left{width:100%;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit; padding:0 7px;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px; width:auto !important;}
.esport-mail{margin-right:20px; float:right; line-height:inherit; width:auto !important;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center;}
.esport-footer-logo .f-left{margin:0 10px;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0 40px;}
.esport-botfoot-right span{float:left; margin-left:20px;}
.esport-botfoot-right a{float:right; margin-right:20px;}
.left-pannel-arrow{display:none;}
#footer{position:relative; z-index:11;}
.esport-blog-box{min-width:100%;}
.esport-blog-img img{width:100%;}
.esport-blog-box{min-height:inherit;}
.esport-blog-img, .esport-bolg-title{width:50%; float:left; min-height:inherit;}

/*dashboard page*/
.sub_head .logo {line-height: 50px; margin-left: 20px;}
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:block !important; float:left;}
.dashboardNavbar > li{float:left; border:none;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0px;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:18px;}
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px}
.coins-img {margin-right:0px !important;}
.coins-img img{width:20px;}
.avatar img{height: 30px; margin-right: 0; width: 30px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:22px; bottom:30px;}
.tour-chal-box a:hover span{bottom:40px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:0px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.secondry_pannel_close{width:0px;}
.secondry_pannel{margin-top: 50px;}
.secondry_pannel_close .secondry_pannel_toggle{display:none;}
.close_secondry_pannel{display:none;}
.right_user_panel{overflow-y:auto;}

/*challange page*/
.mo_chlng_filter_box{padding:15px 10px;}
.res_filter_sec{margin:0 5px 20px 0px;}
.res_createChalangeBtn{width:100%; text-align:center;}
table.mo_chlngTbl{width:600px; max-width:inherit;}

/*profile page*/
.user-banner-main{height:180px;}
.esport-user_banner{background-size:100% 100%, cover;}
.user-avatar{width:80px; height:80px;}
.user-detail{padding-left:90px; font-size:11px; bottom:15px;}
.user-avtar-detail{width:auto;}
.user-name h3{font-size:16px;}
.dashboard-box .mo_width50{width:50%;}
.user-sapret-box{border-bottom:1px solid #e5e5e5;}
.dashboard-box{padding:7px;}
.gameplay-box .gameplay-box-leftside{width:100%;}
.gameplay-box-leftside span.gameplay-box-gamename{ transform: none; width:100%;}
.gameplay-box .gameplay-box-leftside img{width:100%;}
.gameplay-box .gameplay-box-rightside{padding: 5px !important; position:relative; height:auto;}
.gameplay-rightsideTop-buttons{margin:5px 0;}
.gameplay-rightsideTop-buttons .btn-gameplay{padding: 5px 20px; font-size:11px !important;}
.gameplay-content-statesticsBox{margin-bottom:5px;}
.gameplay-result{width:100%; text-align:center;}
.gameplay-result ul{padding:0px}
.gameplay-result-title{margin:5px 0;}
.gameplay-result ul li{margin:5px 3px;}
.gameplay-boxshadow{position: relative; top: -4px;}

	
}

@media screen and (min-width:601px) and (max-width:640px) {

/*commen style for mobile*/
.mobile-display-none{display:none;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo{margin-left:20px;  width:auto; line-height:50px !important;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}
.modal-dialog{width:auto;}

.content-left{position:relative !important; display:none; position:absolute; width:350px; top:0px !important;}
.content-right{padding:0; width:100%;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 100px; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: 120px; line-height: 30px; padding: 0 5px; position: absolute; right: inherit; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer .f-left{width:100%;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit; padding:0 7px;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px; width:auto !important;}
.esport-mail{margin-right:20px; float:right; line-height:inherit; width:auto !important;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center;}
.esport-footer-logo .f-left{margin:0 10px;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0 40px;}
.esport-botfoot-right span{float:left; margin-left:20px;}
.esport-botfoot-right a{float:right; margin-right:20px;}
.left-pannel-arrow{display:block;}

.esport-blog-box{min-width:100%;}
.esport-blog-img img{width:100%;}
.esport-blog-box{min-height:inherit;}
.esport-blog-img, .esport-bolg-title{width:50%; float:left; min-height:inherit;}

/*dashboard page*/
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:block !important; float:left;}
.dashboardNavbar > li{float:left; border:none;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0px;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:18px;}
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px}
.coins-img {margin-right:0px !important;}
.coins-img img{width:20px;}
.avatar img{height: 30px; margin-right: 0; width: 30px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:22px; bottom:50px;}
.tour-chal-box a:hover span{bottom:60px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:10px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.secondry_pannel_close{width:0px;}
.secondry_pannel{margin-top: 50px;}
.secondry_pannel_close .secondry_pannel_toggle{display:none;}
.close_secondry_pannel{display:none;}
.right_user_panel{overflow-y:auto;}

/*challange page*/
.mo_chlng_filter_box{padding:15px 10px;}
.res_filter_sec{margin:0 5px 20px 0px;}
.res_createChalangeBtn{width:100%; text-align:center;}
table.mo_chlngTbl{width:600px; max-width:inherit;}


/*profile page*/
.user-banner-main{height:180px;}
.esport-user_banner{background-size:100% 100%, cover;}
.user-avatar{width:80px; height:80px;}
.user-detail{padding-left:90px; font-size:11px; bottom:15px;}
.user-avtar-detail{width:auto;}
.user-name h3{font-size:16px;}
.dashboard-box .mo_width50{width:50%;}
.user-sapret-box{border-bottom:1px solid #e5e5e5;}
.dashboard-box{padding:7px;}
.gameplay-box .gameplay-box-leftside{width:100%;}
.gameplay-box-leftside span.gameplay-box-gamename{ transform: none; width:100%;}
.gameplay-box .gameplay-box-leftside img{width:100%;}
.gameplay-box .gameplay-box-rightside{padding: 5px !important; position:relative; height:auto;}
.gameplay-rightsideTop-buttons{margin:5px 0;}
.gameplay-rightsideTop-buttons .btn-gameplay{padding: 5px 20px; font-size:11px !important;}
.gameplay-content-statesticsBox{margin-bottom:5px;}
.gameplay-result{text-align:center;}
.gameplay-result ul{padding:0px}
.gameplay-result-title{margin:5px 0;}
.gameplay-result ul li{margin:5px;}
.gameplay-boxshadow{position: relative; top: -4px;}
.gameplay-content-statestics .mo_cols3{width:33.3333%;}

	
}



@media screen and (min-width:481px) and (max-width:600px) {
/*commen style for mobile*/
.mobile-display-none{display:none;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo{margin-left:20px;  width:auto; line-height:50px !important;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}
.modal-dialog{width:auto;}

.content-left{position:relative !important; display:none; position:absolute; width:350px; top:0px !important;}
.content-right{padding:0; width:100%;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 100px; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: 120px; line-height: 30px; padding: 0 5px; position: absolute; right: inherit; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer .f-left{width:100%;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit; padding:0 7px;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px; width:auto !important;}
.esport-mail{margin-right:20px; float:right; line-height:inherit; width:auto !important;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center;}
.esport-footer-logo .f-left{margin:0 10px;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0 40px;}
.esport-botfoot-right span{float:left; margin-left:20px;}
.esport-botfoot-right a{float:right; margin-right:20px;}
.left-pannel-arrow{display:block;}

.esport-blog-box{min-width:100%;}
.esport-blog-img img{width:100%;}
.esport-blog-box{min-height:inherit;}
.esport-blog-img, .esport-bolg-title{width:50%; float:left; min-height:inherit;}

/*dashboard page*/
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:block !important; float:left;}
.dashboardNavbar > li{float:left; border:none;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0px;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:18px;}
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px}
.coins-img {margin-right:0px !important;}
.coins-img img{width:20px;}
.avatar img{height: 30px; margin-right: 0; width: 30px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:22px; bottom:50px;}
.tour-chal-box a:hover span{bottom:60px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:10px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.secondry_pannel_close{width:0px;}
.secondry_pannel{margin-top: 50px;}
.secondry_pannel_close .secondry_pannel_toggle{display:none;}
.close_secondry_pannel{display:none;}
.right_user_panel{overflow-y:auto;}

/*challange page*/
.mo_chlng_filter_box{padding:15px 10px;}
.res_filter_sec{margin:0 5px 20px 0px;}
.res_createChalangeBtn{width:100%; text-align:center;}
table.mo_chlngTbl{width:600px; max-width:inherit;}


/*profile page*/
.user-banner-main{height:180px;}
.esport-user_banner{background-size:100% 100%, cover;}
.user-avatar{width:80px; height:80px;}
.user-detail{padding-left:90px; font-size:11px; bottom:15px;}
.user-avtar-detail{width:auto;}
.user-name h3{font-size:16px;}
.dashboard-box .mo_width50{width:50%;}
.user-sapret-box{border-bottom:1px solid #e5e5e5;}
.dashboard-box{padding:7px;}
.gameplay-box .gameplay-box-leftside{width:100%;}
.gameplay-box-leftside span.gameplay-box-gamename{ transform: none; width:100%;}
.gameplay-box .gameplay-box-leftside img{width:100%;}
.gameplay-box .gameplay-box-rightside{padding: 5px !important; position:relative; height:auto;}
.gameplay-rightsideTop-buttons{margin:5px 0;}
.gameplay-rightsideTop-buttons .btn-gameplay{padding: 5px 20px; font-size:11px !important;}
.gameplay-content-statesticsBox{margin-bottom:5px;}
.gameplay-result{width:100%; text-align:center;}
.gameplay-result ul{padding:0px}
.gameplay-result-title{margin:5px 0;}
.gameplay-result ul li{margin:5px;}
.gameplay-boxshadow{position: relative; top: -4px;}
.gameplay-content-statestics .mo_cols3{width:33.3333%;}

	
}



@media screen and (min-width:361px) and (max-width:480px) {
/*commen style for mobile*/
.mobile-display-none{display:none;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo{margin-left:20px;  width:auto; line-height:50px;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}
.modal-dialog{width:auto;}

.content-left{position:relative !important; display:none; position:absolute; width:350px; top:0px !important;}
.content-right{padding:0; width:100%;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 100px; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: 120px; line-height: 30px; padding: 0 5px; position: absolute; right: inherit; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px;}
.esport-mail{margin-right:20px; float:right; line-height:inherit;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center; width:100%;}
.esport-footer-logo .f-left{margin:0; width:100%;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0; border-top:1px solid #333; padding-top:30px;}
.esport-botfoot-right span, .esport-botfoot-right a{width:100%;}
.left-pannel-arrow{display:block;}

.esport-blog-box{min-width:100%;}
.esport-blog-img img{width:100%;}

/*dashboard page*/
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:block !important; float:left;}
.dashboardNavbar > li{float:left; border:none;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0px;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:18px;}
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px}
.coins-img {margin-right:0px !important;}
.coins-img img{width:20px;}
.avatar img{height: 30px; margin-right: 0; width: 30px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:16px; bottom:40px;}
.tour-chal-box a:hover span{bottom:50px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:10px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.secondry_pannel_close{width:0px;}
.secondry_pannel{margin-top: 50px;}
.secondry_pannel_close .secondry_pannel_toggle{display:none;}
.close_secondry_pannel{display:none;}
.right_user_panel{overflow-y:auto;}

/*challange page*/
.res_filter_sec{width:100%; margin:0 0 10px 0;}
.res_filter_sec label{width:25%;}
.res_createChalangeBtn{width:100%; text-align:center;}


/*profile page*/
.user-banner-main{height:180px;}
.esport-user_banner{background-size:100% 100%, cover;}
.user-avatar{width:80px; height:80px;}
.user-detail{padding-left:90px; font-size:11px; bottom:15px;}
.user-avtar-detail{width:auto;}
.user-name h3{font-size:16px;}
.user-sapret-box{border-bottom:1px solid #e5e5e5; border-right:none;}
.dashboard-box{padding:7px;}
.gameplay-box .gameplay-box-leftside{width:100%;}
.gameplay-box-leftside span.gameplay-box-gamename{ transform: none; width:100%;}
.gameplay-box .gameplay-box-leftside img{width:100%;}
.gameplay-box .gameplay-box-rightside{padding: 5px !important; position:relative; height:auto;}
.gameplay-rightsideTop-buttons{margin:5px 0;}
.gameplay-rightsideTop-buttons .btn-gameplay{padding: 5px 20px; font-size:11px !important;}
.gameplay-content-statesticsBox{margin-bottom:5px;}
.gameplay-result{width:100%; text-align:center;}
.gameplay-result ul{padding:0px}
.gameplay-result-title{margin:5px 0;}
.gameplay-result ul li{margin:5px;}
.gameplay-boxshadow{position: relative; top: -4px;}


	
}

@media only screen and (max-width:360px) {
/*commen style for mobile*/
.mobile-display-none{display:none;}	
#header_nav	{height:50px !important;}
.head{background-color:rgba(0, 0, 0, 1); height:50px; min-height:40px;}	
.logo, .sub_head .logo{margin-left:20px;  width:auto; line-height:50px;}
.logo img{height:30px !important;}
.banner {min-height: 150px; padding-top: 50px; position: relative;}	
.banner-img img{position:relative; }
.top-login{line-height:50px; margin-right:20px;}
.top-login ul{margin:0px;}
.top-login ul li a.login-icon{padding:15px 0 !important;}

#login-dp{position:absolute; left:-255px;}
.arrow-up{right: 10px;}
.modal-dialog{width:auto;}

.content-left{position:relative !important; display:none; position:absolute; width:100%; top:0px !important;}
.content-right{padding:0; width:100%;}
.esport-content, .esport-game-review{padding:5px;}
.esport-user-match-left, .esport-user-match-right{width:100%; position:inherit !important;}
.esport-user-match-left{z-index:auto;}
.esport-user-match-right{z-index:auto;}
.esport-user-match-right{margin-top:5px;}
.esport-user-match-left::after{border-left:0 solid #000;}
.esport-user-match-right::before{border-right:0px solid #b9b9b9}

.esport-vs-box{height: 45px; left: 34.9%; line-height: 45px; top: 77px; width: 45px; z-index: 10;}
.esport-trans-bg{background: #fff none repeat scroll 0 0; bottom: -15px; float: left; left: 10px; line-height: 30px; position: absolute; right: inherit; z-index: 10;}
.esport-trans-bg-right{background: #fff none repeat scroll 0 0; float: right; left: inherit; line-height: 30px; padding: 0 5px; position: absolute; right: -5px; top: -35px; z-index: 10;}
.esport-user-match-right .right-sideTeam{padding-top:20px;}
.esport-money{color:#000; font-size:10px;}
.owl-theme .owl-controls{display:none !important;}
.top-footer{padding:30px 0;}
.top-footer #esport-footer-links{padding:0px !important; margin:10px 0; text-align:center;}
#esport-footer-links li{line-height:inherit;}
.topfoot-right{width:100%; line-height:40px;}
.esport-contactNo{float:left; margin-left:20px;}
.esport-mail{margin-right:20px; float:right; line-height:inherit;}
.esport-mail a{position:relative; top:-3px;}
.esport-footer-logo{line-height:70px; text-align:center;}
.esport-footer-logo .f-left{margin:0; width:100%;}
.esport-botfoot-right{width:100%; text-align:center; margin:0px; line-height:30px; margin:20px 0; border-top:1px solid #333; padding-top:30px;}
.esport-botfoot-right span, .esport-botfoot-right a{width:100%;}

.left-pannel-arrow{display:block;}


/*dashboard page*/
.esport-subpage-gametitle h3{font-size:18px;}
.desktop_none{display:block !important; float:left;}
.dashboardNavbar > li{float:left; border:none;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0px;}
.sub_head .top-login{margin-right:0px;}
.dashboardNavbar > li > a{padding:5px 10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{font-size:18px;}
.badge-counter{top:10px; right:5px; line-height: 12px; min-height: 12px; min-width: 12px; border-radius:12px; font-size:9px}
.coins-img {margin-right:0px !important;}
.coins-img img{width:20px;}
.avatar img{height: 30px; margin-right: 0; width: 30px;}
.navbar-nav .open .dropdown-menu{background-color: #000; left: inherit; position: absolute !important; right: 0 !important; box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);}
.pad-top {padding-top:50px;}
.esport_game_banner_box{min-height:120px; background-size:100% 100%, cover;}
.esport-tournament-chalange-box{padding:5px}
.tc-box{padding:10px;}
.tour-chal-box a span{font-size:16px; bottom:40px;}
.tour-chal-box a:hover span{bottom:50px;}
.mo_pad10{padding:10px;}
.esport_game_banner_box{margin-bottom:0px;}
.user-history{margin-top:10px; padding:0px;}
.mo_pad0{padding:0px !important;}
.history_main{overflow-x:auto;}
.table{min-width:400px;}
.secondry_pannel_close{width:0px;}
.secondry_pannel{margin-top: 50px;}
.secondry_pannel_close .secondry_pannel_toggle{display:none;}
.close_secondry_pannel{display:none;}
.right_user_panel{overflow-y:auto;}


/*challange page*/
.res_filter_sec{width:100%; margin:0 0 10px 0;}
.res_filter_sec label{width:25%;}
.res_createChalangeBtn{width:100%; text-align:center;}

/*profile page*/
.user-banner-main{height:180px;}
.esport-user_banner{background-size:100% 100%, cover;}
.user-avatar{width:80px; height:80px;}
.user-avtar-detail{width:auto;}
.user-detail{padding-left:90px; font-size:11px; bottom:15px;}
.user-name h3{font-size:16px;}
.user-sapret-box{border-bottom:1px solid #e5e5e5; border-right:none;}
.dashboard-box{padding:7px;}
.gameplay-box .gameplay-box-leftside{width:100%;}
.gameplay-box-leftside span.gameplay-box-gamename{ transform: none; width:100%;}
.gameplay-box .gameplay-box-leftside img{width:100%;}
.gameplay-box .gameplay-box-rightside{padding: 5px !important; position:relative; height:auto;}
.gameplay-rightsideTop-buttons{margin:5px 0;}
.gameplay-rightsideTop-buttons .btn-gameplay{padding: 5px 20px; font-size:11px !important;}
.gameplay-content-statesticsBox{margin-bottom:5px;}
.gameplay-result ul{padding:0px}
.gameplay-result-title{margin:5px 0;}
.gameplay-result ul li{margin-top:5px;}
.gameplay-boxshadow{position: relative; top: -7px;}

}