@charset "utf-8";

@font-face {
  font-family: 'MarcellusSC-Regular';
  src: url('../fonts/MarcellusSC-Regular.eot');
  src: url('../fonts/MarcellusSC-Regular.woff2') format('woff2'),
       url('../fonts/MarcellusSC-Regular.woff') format('woff'),
       url('../fonts/MarcellusSC-Regular.ttf') format('truetype'),
       url('../fonts/MarcellusSC-Regular.svg#MarcellusSC-Regular') format('svg'),
       url('../fonts/MarcellusSC-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



/*commen style*/
body{background-color:#f2f2f2; width:100%; height:100%; font-family: 'MarcellusSC-Regular'; color:#FFFFFF; font-size:14px;}
.f-left{float:left;}
.f-right{float:right;}
.text-white{color:#FFF !important;}
.text-black{color:#000 !important;}
.full{width:100%; float:left;}
.bg-black{background:#000;}
.bg-white{background:#FFF;}


.s1 {height:1px; clear:both;}
.s2 {height:2px; clear:both;}
.s3 {height:3px; clear:both;}
.s4 {height:4px; clear:both;}
.s5 {height:5px; clear:both;}
.s10 {height:10px; clear:both;}
.s15 {height:15px; clear:both;}
.s20 {height:20px; clear:both;}
.s25 {height:25px; clear:both;}
.s30 {height:30px; clear:both;}
.s35 {height:35px; clear:both;}
.s40 {height:40px; clear:both;}
.s45 {height:45px; clear:both;}
.s50 {height:50px; clear:both;}
.s70 {height:70px; clear:both;}
.s100 {height:100px; clear:both;}


.pad-5{padding:5px;}
.pad-10{padding:10px;}
.pad-15{padding:15px;}
.pad-20{padding:20px;}
.pad-lr5{padding-left:5px; padding-right:5px;}
.pad-lr10{padding-left:10px; padding-right:10px;}
.pad-l5{padding-left:5px;}
.pad-l10{padding-left:10px;}
.pad-r5{padding-right:5px;}
.pad-r10{padding-right:10px;}

.mar-lr5{margin-left:5px; margin-right:5px;}
.mar-lr10{margin-left:10px; margin-right:10px;}
.mar-lr15{margin-left:15px; margin-right:15px;}
.mar-l5{margin-left:5px;}
.mar-l10{margin-left:10px;}
.mar-r5{margin-right:5px;}
.mar-r10{margin-right:10px;}
.mar-tb10{margin-top:10px; margin-bottom:10px}
.mar-tb15{margin-top:15px; margin-bottom:15px}
.mar-tb20{margin-top:20px; margin-bottom:20px}
.mar-b3{margin-bottom:3px;}
.mar-b5{margin-bottom:5px;}
.mar-b7{margin-bottom:7px;}
.mar-b10{margin-bottom:10px;}
.mar-b12{margin-bottom:12px;}
.mar-b15{margin-bottom:15px;}
.mar-b20{margin-bottom:20px;}
.mar-b25{margin-bottom:25px;}
.mar-b30{margin-bottom:30px;}

.pos-rel{position:relative;}
.pos-abt{position:absolute;}



.pointer{cursor:pointer;}
.desktop_none{display:none !important;}

/*bootstrap style*/
.no-margin{margin:0px !important}
.form-control{background-color:rgba(255,255,255,0.5) !important; border:none !important;}
.form-control::-moz-placeholder{color:#FFFFFF !important;}
.form-control::-webkit-placeholder{color:#FFFFFF !important;}
.form-control::-o-placeholder{color:#FFFFFF !important;}
.btn.focus, .btn:focus, .btn:hover{color:#FFF !important;}
a:hover, a:focus{text-decoration:none !important;}
.no-padding{padding:0px !important;}

/*custome style*/
.head{min-height:80px; width:100%; background-color:rgba(0,0,0,0.7); z-index:1; position:relative;}
.logo{width:350px; display:inline-block; line-height:80px; margin-left:50px;}
.top-login{float:right; margin-right:50px;  line-height:80px;}
.top-login ul li p.already-acc{color:#FFF !important;}
.top-login ul li a.login-icon i{color:#FFF !important;}
.top-login ul li a.login-icon{padding:15px 20px !important;  display:inline-block !important; margin-left:15px;}
.top-login ul li a.login-icon:hover{background-color:rgba(0,0,0,0.3);}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background-color:rgba(0,0,0,0.3);}

#login-dp{min-width: 300px; padding: 14px 14px 0; overflow:hidden; background-color:rgba(0,0,0,0.9); line-height:normal; margin-top:12px; border:5px solid rgba(0,0,0,0.7); overflow:visible;}
#login-dp .help-block{font-size:12px}
#login-dp .bottom{border-top:1px solid #666; clear:both; padding:14px;}
#login-dp .social-buttons{margin:12px 0}
#login-dp .social-buttons a{width: 49%;}
#login-dp .form-group {margin-bottom: 10px 0 20px;}
.btn-fb{color: #fff; background-color:#3b5998;}
.btn-fb:hover{color: #fff; background-color:#496ebc }
.btn-tw{color: #fff; background-color:#55acee;}
.btn-tw:hover{color: #fff; background-color:#59b5fa;}
.up-arrow i{color:rgba(0,0,0,0.7); font-size:20px;}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid rgba(0,0,0,0.7);
	position: absolute;
    right: 40px;
    top: -15px;
}

.btn{font-size: 12px; font-weight: bold; letter-spacing: 0.5px; padding:8px 10px; text-transform: uppercase;}

.btn-theme{background-color:#5c000b; text-decoration: none; transition:background 0.18s ease-out 0s;}
.btn-theme:hover{background-color:#840010;}
/*.btn-theme:hover{box-shadow: 0 1px 10px rgba(145, 92, 182, 0.7);}*/
	
.banner{min-height:560px; position:relative; padding-top:80px;}
.banner-img{width:100%; height:100%; overflow:hidden;}
.banner-img img{position:absolute; top:0px; width:100%; height:100%;}


@media(max-width:768px){
    #login-dp{color: #fff;}
    #login-dp .bottom{background-color: inherit; border-top:0 none;}
}


.signup-step{background-color:rgba(0,0,0,0.7); width:380px; float:right; min-height:450px; margin:20px 0; position:relative; transform: skew(-12deg); margin-right:250px; padding-top:20px;}
.welcome-logo{display: inline-block;  transform: skew(12deg);}
.welcome-text{display: inline-block; font-size: 18px; margin-left:5px; position: relative; text-align: left; top: 15px; transform: skewX(12deg);}
span.welcome-name{font-size:21px; font-weight:800;}

.steps{width:100%; background:#000; min-height:70px; margin-top:30px; margin-left:-15px; padding-left:40px;}
.stp1{margin-top:40px;}
.steps-img, .step-content{float:left; transform: skewX(12deg);}
.steps-img{line-height:65px;}
.step-content{font-weight:bold; font-size:16px; margin-left:20px; position:relative; top:10px}
.f16{font-size:16px;}


/*signup popup*/
.modal {
	/*background-color:rgba(0,0,0,0.5);*/	
	
	background: rgba(92,0,11,1);
	background: -moz-linear-gradient(-45deg, rgba(92,0,11,1) 0%, rgba(0,0,0,0.7) 61%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(92,0,11,1)), color-stop(61%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(-45deg, rgba(92,0,11,1) 0%, rgba(0,0,0,0.7) 61%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(-45deg, rgba(92,0,11,1) 0%, rgba(0,0,0,0.7) 61%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(-45deg, rgba(92,0,11,1) 0%, rgba(0,0,0,0.7) 61%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(135deg, rgba(92,0,11,1) 0%, rgba(0,0,0,0.7) 61%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c000b', endColorstr='#000000', GradientType=1 );
	
	}
.modal-dialog{width:450px;}	
.modal-sm{width:300px !important;}
.modal-content{background-color:rgba(31, 31, 31, 1); overflow:hidden; border:5px solid rgba(0,0,0,0.5); box-shadow:0 0 5px rgba(239, 126, 139, 0.5); margin-top:100px}
.heros{position: absolute; right: 31px; top: -80px; z-index: 1;}
.heros img{width:60%; float:right;}
.modal-header{border-bottom:1px solid #000;}
.modal-footer{border-top:1px solid #333;}
.modal-body{border-top:1px solid #333; border-bottom:1px solid #000;}
.modal-header h4{font-size:18px; font-weight:bold; letter-spacing:1px;}

.modal-header h4::after {background: rgba(0, 0, 0, 0) linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0)) repeat scroll 0 0; content: ""; display: block; height: 100px; left: 50px; pointer-events: none; position: absolute; top: 0; transform: rotate(70deg); width: 250px;}
.modal-header .close span{color:#EEE;}
.modal-body{padding:20px;}

.modal-body .signup-input{background: rgba(0, 0, 0, 0) linear-gradient(#CCC, #FFF) repeat scroll 0 0;}

p.separator-line {margin: 25px 0; padding: 0; position: relative; text-align: center; width: 100%;}
p.separator-line:after {background-color: #666; content: " "; display: inline-block; height: 1px; margin: 0 0 8px 20px; position: absolute; right: 0; text-shadow: none; top: 50%; width: 45%;}
p.separator-line:before {background-color: #666; content: " "; display: inline-block; height: 1px; left: 0; margin: 0 20px 8px 0; position: absolute; text-shadow: none; top: 50%; width: 45%;}

.btn-fb{background-color:#3b5999; color:#FFF; transition:background 0.18s ease-out 0s; border-color:#3b5999;}
.btn-fb:hover{background-color:#4264ab; border-color:#4466af; color:#FFF;}

/*content section*/

.left-pannel-arrow{display:none; position:fixed; top:50%; width:30px; height:55px; border-top-right-radius:4px; border-bottom-right-radius:4px; background:#5c000b; left:0px; text-align:center; line-height:55px; z-index:99;}

.left-pannel-arrow a, .right-pannel-arrow a{width:100%; height:100%; float:left;}
.left-pannel-arrow i, .right-pannel-arrow i{color:#FFF; font-weight:30px;}


.content-left{width:320px; height:100%; background-color:#000; z-index:1; position:relative; padding-top: 20px; padding-bottom:50px; float:left; }
.esport-gamelist{float:left; width:100%;}
.esport-gamelist-header{font-size:20px; font-weight:bold; line-height:40px; padding-left:30px; position:absolute; top:20px; color:#FFF;}
.acesso_bg {border-right: 40px solid transparent; border-top: 40px solid  #5c000b; width: 90%;}
.esport-game-img{float:left; padding:20px 15px 10px; position:relative; transition: all 0.2s ease-in-out;}

.esport-game-img a img{opacity:0.4; transition:all 0.6s ease 0s;}
.esport-game-img a span{font-size:16px; font-weight:bold; position:absolute; top:40%; left:25px; color:#FFF; text-shadow:0px 1px 2px #000;}
.esport-game-img a:hover img{opacity:0.9; box-shadow: 0 1px 10px rgba(145, 92, 182, 0.7);}
.content-right{width:100%; position:relative; padding-left:320px; height:100%;}
.esport-content{width:100%; float:left; position:relative; padding:20px;}
.esport-game-review{width:100%; background:#FFF; padding:20px; float:left;}
.esport-match-result-box{width:100%; float:left; position:relative; margin-bottom:20px;}
.esport-user-match-left{float:left; width:50%; padding:15px; background-color:#000; height:100px; border-radius:4px; position:relative;}
.esport-user-match-right{float:left; width:50%; padding:15px; background-color:#b9b9b9; height:100px; border-radius:4px; position:relative;}

ul.esport-gamelist{list-style:none; padding:0px;}
ul.esport-gamelist li.active{background:url(../images/game-active.png) no-repeat; background-position:right center; background-size:12px auto;}

.esport-user-match-left::after {border-bottom: 100px solid #ffffff; border-left: 50px solid #000; right: 0;}
.esport-user-match-left::after, .esport-user-match-right::before {content: ""; height: 0; position: absolute; top: 0; width: 0;}
.esport-user-match-left {float: left; width: 52%; z-index: 8;}
.esport-user-match-left, .esport-user-match-right {background: #2c3e50 none repeat scroll 0 0; height: 200px; position: relative;}


.esport-user-match-right::before {border-right: 50px solid #b9b9b9; border-top: 100px solid rgba(0, 0, 0, 0); left: -48px;}
.esport-user-match-left::after, .esport-user-match-right::before {content: ""; height: 0; position: absolute; top: 0; width: 0;}
.esport-user-match-right {float: right; width: 46.8%; z-index: 9;}
.esport-user-match-left {background: #000 none repeat scroll 0 0; height: 100px; position: relative;}

.esport-user-match-right {background: #b9b9b9 none repeat scroll 0 0; height: 100px; position: relative;}
.esport-user-img{position:absolute; width:40px; float:left;}
.esport-user-team{position:relative; width:100%; padding-left:50px; float:left;}
.esport-user-teamName{float:left; color:#FFF; font-size:15px; font-weight:bold;}
.esport-userName{float:left; color:#848484; font-size:13px; font-weight:normal;}

.right-sideTeam{width:100%; float:right; position:relative}
.esport-user-img-right{position:absolute; width:40px; float:right; right:0;}
.esport-user-team-right{position:relative; width:100%; padding-right:50px; float:right;}
.esport-user-teamName-right{float:right; color:#000; font-size:15px; font-weight:bold; text-align:right;}
.esport-userName-right{float:right; color:#666; font-size:13px; font-weight:normal; text-align:right;}

.esport-vs-box{ background-color: #fff; border-radius: 50%; height: 35px; left: 48.7%; position: absolute; top: 25px; width: 35px; z-index: 10; color:#000; font-size:13px; font-weight:bold; text-align:center; line-height:35px;}

.esport-trans-bg{background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0; bottom: -10px; float: right; padding: 0px 10px; position: absolute; right: 16px; width: auto; border-radius:4px; line-height:25px;}
.esport-money{float:left; margin-left:10px; color:#FFF; padding-right:20px; font-size:11px; font-weight:600;}

.esport-trans-bg{}
.esport-trans-bg::after {border-bottom: 30px solid #FFF; border-left: 15px solid rgba(255, 255, 255,0); right: 0;}
.esport-trans-bg::after, .esport-user-match-right::before {content: ""; height: 0; position: absolute; top: 0; width: 0;}
.esport-trans-bg {float: right; z-index: 8;}
.esport-trans-bg, .esport-trans-bg {background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0; height: 30px; position: relative;}

.esport-trans-bg-right{background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0; bottom: -10px; float: left; padding: 0px 10px; position: absolute; left: -60px; width: auto; border-radius:4px; line-height:30px;}
.esport-trans-bg-right::before {border-right: 15px solid rgba(0, 0, 0, 0); border-top: 30px solid #FFF; left: 0px;}
.esport-trans-bg-right::after, .esport-trans-bg-right::before {content: ""; height: 0; position: absolute; top: 0; width: 0;}
.esport-trans-bg-right {float: left; z-index: 9;}
.esport-trans-bg-right {background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; height: 30px; position: relative;}

.esport-pagination{float:left; width:100%; background:#FFF;}
.pagination > li > a, .pagination > li > span{color:#909090 !important; }
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{color:#000 !important;}


.esport-blog, .esport-featuredGame{float:left; margin:50px 0 0 0; width:100%;}
.esport-header{font-size:26px; color:#000; font-weight:bold; text-shadow:0 0 0.38px rgba(0, 0, 0, 0.4);}
.esport-header span{color:#5c000b;}
.bg-dot{background-image:url(../images/bg-dot.png); background-repeat:repeat-x; height:7px;}
.blog-sec, .featuredgame-sec{margin:30px 0 0 0; position:relative;}
.esport-blog-box{max-width:320px; min-height:320px;}
.esport-blog-img{max-height:215px;}
.esport-bolg-title{float:left; width:100%; padding:15px;}
.esport-bolg-title h5{font-size:14px; text-transform:uppercase; font-weight:bold; line-height:22px;}
.esport-bolg-title span{color:#bababa; font-weight:500;}
.bg-shadow{position: relative; top: -7px;}

#owl-esport .item{margin: 0px; background-color:#000; }
#owl-esport .item img{display: block; width: 100%; height: auto; opacity:0.4; transition:all 0.35s ease 0s;}
#owl-esport .item:hover img{opacity:1;}

.game-title{font-weight: bold; font-size: 16px; padding: 15px; position: absolute; bottom: 0px; transition:all 0.35s ease 0s; text-shadow:0px 1px 2px #000;}
#owl-esport .item:hover .game-title{bottom:10px; }
.esport-all{float: right; position: absolute; right: 0px; bottom: 5px;}
.esport-all a{color: rgb(0, 0, 0); font-size:15px;}


/*footer section*/
.footer{background-color:#000; width:100%; float:left; position:relative; z-index:1;}
.top-footer{float:left; background-color:#252525; min-height:75px; width:100%;}
#esport-footer-links{list-style:none; display:block; margin-bottom:0px;}
#esport-footer-links li{list-style:none; display:inline; padding:0 10px; line-height:75px;}
#esport-footer-links li a{color:#FFF; line-height:30px}
#esport-footer-links li a:hover{}
.hvr-underline-from-center::before{height:2px; background:#FFF !important;}
.topfoot-right{line-height:75px;}
.esport-contactNo{color:#FFF; margin-right:30px;}
.esport-mail{color:#FFF; line-height:30px; margin-right:50px; line-height:75px;}
.esport-mail a{line-height:30px;}

.bottom-footer{float:left; width:100%;}
.esport-footer-logo{float:left; line-height:100px;}
.esport-footer-logo .f-left{margin:0 30px;}
.esport-footer-logo .f-left img{opacity:0.4; transition:all 0.3s ease 0s;}
.esport-footer-logo .f-left img:hover{opacity:1;}
.esport-botfoot-right{color:#FFF; line-height:100px; margin-right:50px;}
.esport-botfoot-right span{line-height:30px;}
.esport-botfoot-right a{line-height:30px; color:#FFF;}


/*Dashboard page style*/

.nav > li > a:focus, .nav > li > a:hover{background-color:rgba(0,0,0,0.4);}

.sub_head{background-color:rgba(0,0,0,1); min-height:70px; border-bottom:1px solid rgba(255,255,255,0.2);}
.sub_head .logo{line-height:70px; margin-left:20px;}
.sub_head .logo img{height:40px;}
.sub_head .top-login{margin-right:15px;}
.avatar img{border-radius:50%; margin-right:10px; width:40px; height:40px;}
.dashboardNavbar > li{border-right:1px solid rgba(255,255,255,0.2);}
.dashboardNavbar > li:last-child{border-right:none;}
.dashboardNavbar > li > a.main_link{line-height:40px; color:#999; font-weight:bold; transition: background 0.2s ease-out 0s;}
.dashboardNavbar > li > a.main_link > span.coins-img{float:left; margin-right:10px;}
.dashboardNavbar > li > a.main_link > i.fa-bell{padding:0 20px; font-size:22px; vertical-align:middle;}
.badge-counter{background-color: #fa3e3e; border-radius:17px; color: #fff; padding: 1px 3px;  font-size: 12px; line-height: 16px; min-height: 17px; min-width: 17px; position: absolute; right: 25px; text-align: center; top:15px;}
.dashboardNavbar > li > a.main_link:hover{line-height:40px; color:#FFF; font-weight:bold;}
ul.user-setting-dropdown{background-color:#000;}
ul.user-setting-dropdown li a{color:#CCC; transition: background 0.3s ease-in 0s;}
ul.user-setting-dropdown li.dropdown-heading{font-weight:bold; padding: 5px 20px; width: 100%; line-height:normal;}
ul.user-setting-dropdown .divider{background-color:#333;}
ul.user-setting-dropdown > li > a:focus, .dropdown-menu > li > a:hover{background-color: #5c000b; color: #fff; transition: background 0.7s ease-out 0s;}

.pad-top{padding-top:70px;}
.rightside_main{float:left; width:100%;}
.esport_game_banner_box{min-height:200px; padding:0px !important; background:rgba(0, 0, 0, 0) url("../images/banner1.jpg") no-repeat scroll 50% center / cover  ; position:relative; margin-bottom:20px;}
.dota2_banner{min-height:200px; padding:0px !important; background:rgba(0, 0, 0, 0) url("../images/banner2.jpg") no-repeat scroll 50% center / cover  ; position:relative; margin-bottom:20px;}

.esport-subpage-gametitle{text-shadow:0 1px 2px #000; font-weight:700;  position:absolute; bottom:10px; left:20px;}

.esport-tournament-chalange-box{background-color:#fff; padding:15px 0; float:left; width:100%;}
.tour-chal-box{/*min-width:400px; min-height:200px;*/ position:relative; z-index:1;}
.tour-chal-box a{width:100%; height:100%; display:inline-block; position:relative; background-color:#000; transition: all 0.6s ease 0s;}
.tour-chal-box a img{ filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
   width:100%;
   opacity:0.4;
    transition: all 0.6s ease 0s;
   }

.tour-chal-box a:hover img{ -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;}   

.tour-chal-box a span{font-size: 32px; font-weight: bold; left: 0; position: absolute; text-align: center; width: 100%; color:#FFF; text-shadow:0 1px 2px #000; text-transform:uppercase; bottom:50px; transition: all 0.6s ease 0s;}   
/*.tour-chal-box a span mr{color:#5c000b;}*/

.tour-chal-box a:hover img{opacity:0.8; }
.tour-chal-box a:hover span{bottom:70px;}

	
.border-box-left{width:90px; height:90px; background-color:#5c000b; position:absolute; left:10px; top:10px;}	
.border-box-right{width:90px; height:90px; background-color:#5c000b; position:absolute; right:10px; bottom:10px;}	

.user-history{margin:30px 0;}

.table-head{background:#5c000b; height:50px; margin-top:30px; padding:0px;  border:1px solid #5c000b;}
.headed_title{color:#FFF; font-size:16px; text-align:center; line-height:50px; font-weight:bold; padding:0 5px;}
.table-body{padding:0px; background:rgba(255, 255, 255, 1) url("../images/history_bg.png") no-repeat scroll right center / cover  ; border:1px solid #d7d7d7;}
.bg-layer{background:rgba(255, 255, 255, 0.5); float:left; height:100%; padding:0px;}
.table_row{border-bottom:1px solid #d7d7d7; padding:0px;}
.row_data{color:#000; text-align:center; line-height:50px; font-weight:bold; padding:0 5px;}


#content{transition:margin 0.24s ease-out 0s;}
.content_smaller{margin-right:320px; transition:margin 0.24s ease-out 0s;}
.content_smaller .content-right .tour-chal-box a span{font-size:20px; bottom:40px;}
.content_smaller .content-right .tour-chal-box a:hover span{bottom:60px;}


.secondry_pannel{background-color: #f2f2f2; bottom: 0; color: #FFF; margin-top: 72px; overflow: hidden; position: fixed; right: 0; top: 0; transition: width 0.24s ease-out 0s; width: 320px; z-index: 1;}
.secondry_pannel_close{width:20px;}
.secondry_rightSideMain{background-color: #2a2d2d; height: auto !important; left: 0; min-height: 100%; position: absolute; top: 0; width: 320px; z-index: 3;}
.secondry_rightSideMain_open{display:block !important;}
.secondry_pannel_toggle{display: none; height: 100%; left: 3px; position: absolute; top: 0; width: 20px; z-index: 2;}
.secondry_pannel_close .secondry_pannel_toggle{display:block;}
.secondry_pannel .sidebar_open_arrow{cursor: pointer; margin-left: 0; margin-top: -7px; position: absolute; top: 50%;  font-size:16px; color:#666;}
.secondry_pannel_box_toggle{background: transparent none repeat scroll 0 0; height: 100%; left: 0; overflow: hidden; position: absolute; top: 0; width: 28px; z-index: 9999999;}
.secondry_pannel_box_toggle_slide{background: #4b4e4e none repeat scroll 0 0; cursor: pointer; height: 100%; left: -20px; position: absolute; top: 0; transition: left 0.18s ease-out 0s; width: 20px;}
.secondry_pannel_box_toggle:hover .secondry_pannel_box_toggle_slide {box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.28); left: 0;}
.secondry_pannel_box_toggle_slide .sidebar_open_arrow{color:#999b9d; left:4px;}

.btn-detail.focus, .btn-detail:focus, .btn-detail:hover{color:#000 !important;}


.right_user_panel{padding:20px 0; background: #000 none repeat scroll 0 0; height: 100%; position: absolute; right: 0; width:100%; padding:20px 0;}
.main_panel_box{display:block; /*background: #000 none repeat scroll 0 0; height: 100%; position: fixed; right: 0; top: 73px; width: 420px; z-index: 99; padding:20px 0;*/}
.right-pannel-arrow{position:absolute; top:50%; width:30px; height:55px; border-top-left-radius:4px; border-bottom-left-radius:4px; background:#5c000b; right:0px; text-align:center; line-height:55px; z-index:999;}
.filter_action{margin:20px 0; float:left; width:100%;}
.list_header{background-color:rgba(92,0,11,0.4); line-height:50px;}
.right_list_title{color:#FFF; text-align:center; font-weight:bold; font-size:12px; padding:0 5px;}
.right_list_row_light{line-height:50px; font-weight:bold; background-color:rgba(255,255,255,0.1); border-bottom:1px solid #373737; margin-bottom:1px; font-size:12px !important;}
.right_list_row_dark{line-height:50px; font-weight:bold; background-color:rgba(255,255,255,0.2); border-bottom:1px solid #373737; margin-bottom:1px; font-size:12px !important;}

.mobile_arrow_hit i{transform:rotate(180deg); transition:background 0.18s ease-out 0s;}

.thead-inverse th {background-color: #5c000b; color: #fff; height:50px; border:1px solid #5c000b !important;}
.table{margin-top:20px; margin-bottom:0px;}
.table > thead > tr > th{vertical-align:middle;}
.table > tbody{background:rgba(255, 255, 255, 1) url("../images/history_bg.png") no-repeat scroll right center / cover  ; border:1px solid #d7d7d7; color:#000; font-size:13px; /*font-weight:600;*/}
.table > tbody > tr{background-color:rgba(255, 255, 255,0.4);}
.table > tbody > tr > th, .table > tbody > tr > td{height:50px; vertical-align:middle;} 
.table > tbody > tr > th{text-align:center; font-weight:normal;}
.shadow img{top:-8px !important;}

.challengelList{min-width:100% !important;}
.challengelList > thead > tr > th{background-color:rgba(92,0,11,0.4); border:none;}
.challengelList > tbody{background:none !important; border:none; color:#FFF;}
.challengelList > tbody > tr{background-color:rgba(255,255,255,0.1); border-bottom:1px solid #373737; margin-bottom:1px;}
.challengelList > tbody > tr.dark_bg{background-color:rgba(255,255,255,0.2); border-bottom:1px solid #373737; margin-bottom:1px;}
.challengelList > tbody > tr > th, .challengelList > tbody > tr > td{border:none;}


/*challagne page*/

.esport-challange-filter{background-color:#FFF; border:1px solid #CCC; padding:15px; border-radius:3px;}
.challange-form label{color:#000;}
.challange-form .btn-group{border:1px solid #CCC !important; border-radius:4px;}
.btn-viewProfile{background-color: rgba(0, 0, 0, 0.4); border: 1px solid rgba(0, 0, 0, 0.3); color: rgba(255, 255, 255, 0.9); font-size: 11px; text-transform: capitalize;}
a.icon-accept i{color: rgba(0,0,0,0.7); font-size: 26px; opacity: 0.6;}
a.icon-accepted i{color: #266027; font-size: 26px; opacity: 1;}
a.icon-accept:hover i{color: #266027; font-size: 26px; opacity: 1;}
.table > tbody.chlng_bg{background:rgba(255, 255, 255, 1) url("../images/challangelist_bg.png") no-repeat scroll right center / cover  ; border:1px solid #d7d7d7; color:#000; font-size:13px; /*font-weight:600;*/}

.heros3 {position: absolute; right:38px; top: -41px; z-index: 1;}
.heros3 img {float: right; width: 70%;}
.placeClr::-moz-placeholder, .placeClr::-webkit-placeholder, .placeClr::-oz-placeholder, .placeClr::-o-placeholder{color:#555 !important;}
.popup-sign{margin:10px 0 20px 0; display:block;}
.popup-sign i{font-size:40px;}
.popupmsg{font-size:14px !important;}


/*profile page*/
.user-banner-main{height:250px; position:relative; margin-bottom:20px;}
.esport-user_banner{background: rgba(0, 0, 0, 0) url("../images/default-banner.png") no-repeat; background-position:center center; background-size:cover; height: 100%; padding: 0 !important;}
.user-avtar-detail{position:absolute; left:20px; bottom:15px;  z-index:1;}
.user-avatar{background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0; border-radius: 100%; bottom: 0; display: inline-block; float: left; height: 115px; left: 0; padding: 5px; position: absolute; width: 115px;}
.user-avatar img{width:100%; height:100%; border-radius:100%;}
.user-detail{float:left; padding-left:130px; position:relative; bottom:25px;}
.user-name h3{display:inline-block; text-shadow:0 0 3px rgba(0, 0, 0, 0.8); font-weight:600; font-size:22px; margin-bottom:3px}
.user-name img{margin-left:10px; display:inline-block; position:relative; bottom:3px;}
.user-detail span{font-weight:bold;}
.text-shadow{text-shadow:0 0 3px rgba(0, 0, 0, 0.8);}
.banner-shadow{width:100%; height:100%; position:absolute; bottom:0; box-shadow:0 -110px 110px rgba(0, 0, 0, 0.6) inset;}
.dashboard-box{background-color: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}
.user-sapret-box{border-right:1px solid #e5e5e5; height: 68px; padding: 15px 15px;}
.user-sapret-box-icon{float:left;}
.user-sapret-box-icon i{border-radius: 50%; font-size:18px; height: 38px; line-height: 35px; margin-right: 10px; text-align: center; width: 38px;}
i.border-member{border:2px solid #ffce55;}
i.member{color:#ffce55; font-size:22px;}
i.border-coins{border:2px solid #a0d468;}
i.coins{color:#a0d468;}
i.border-achievement{border:2px solid #2dc3e8;}
i.achievement{color:#2dc3e8;}
i.border-rank{border:2px solid #ed1f24;}
i.rank{color:#ed1f24; font-size:16px;}

.user-sapret-box-body{float:left;}
.user-sapret-box-body .title{display:block; color:#999; font-size:13px;}
.user-sapret-box-body .description{display:blockl; color:#000; font-size:15px; text-shadow:0 0 0.38px rgba(0, 0, 0, 0.4);}

.gameplay-box{float:left; background:url(../images/c19.jpg) no-repeat; background-size:cover; overflow:hidden;}
.gameplay-box .gameplay-box-leftside{float:left; width:260px; height:320px; background-color:#000; padding:0px; position:relative; z-index:1; overflow:hidden;}
.gameplay-box-leftside span.gameplay-box-gamename{float:left; width:320px; text-align:center; background-color:rgba(173,0,0,0.54); line-height:50px; font-size:18px; text-shadow:0 0 3px rgba(0, 0, 0, 0.8); transform: translateX(-100%) rotate(-90deg); transform-origin: right top 0; font-weight:600; text-overflow:ellipsis; position:absolute; left:0;}
.gameplay-box .gameplay-box-rightside{background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0; float: left; height: 320px; padding:5px 5px 5px 265px !important; position: absolute; width: 100%;}
.gameplay-rightsideTop-header{color:#FFF; font-size:15px; font-weight:bold; line-height:35px; margin-left:10px;}
.gameplay-rightsideTop-buttons{}
.gameplay-rightsideTop-buttons .btn-gameplay{border-radius:15px; background-color:rgba(0,0,0,0.3); color:#FFF; border:2px solid rgba(255,255,255,0.3); padding:8px 25px;}
.gameplay-rightsideTop-buttons .btn-gameplay:hover, .gameplay-rightsideTop-buttons .btn-gameplay.active{background-color:rgba(95,0,0,0.9);}

.gameplay-rightside-content{background-color:rgba(255,255,255,0.2); height:86%; padding:5px;}
#gameplay-content-team, #gameplay-content-team1{display:none;}
.gameplay-rightside-content .gameplay-content-top{float:left; margin-bottom:10px;}
.gameplay-rightside-content .gameplay-content-top i{color:rgba(0,0,0,0.9); margin:0 5px; float:left; line-height:20px; font-size:16px;}
.gameplay-rightside-content .gameplay-content-top span{font-weight:600;}
.gameplay-content-statesticsBox{background:rgba(0,0,0,0.2); float:left; padding:7px; width:100%; border-radius:3px; position:relative; border:1px solid rgba(0, 0, 0, 0.2);}
.c100{float:none; background-color:rgba(0,0,0,0.2);  z-index:1;}
.c100::after{background-color:rgba(255,255,255,0.2);}
.c100:hover::after{background-color:rgba(255,255,255,0.9);}
.c100.small{font-size:100px ;}

.gameplay-content-statestics-name{font-weight:bold; margin:5px 0; display:inline-block; font-size:15px; z-index:1; position:relative;}

.gameplay-content-statestics-icon{bottom: 0; left: 0; position: absolute; text-align: center; width: 100%;}
.gameplay-content-statestics-icon i{color:rgba(0,0,0,0.2); font-size:105px;}
.gameplay-progress{float:left; margin:10px 0;}
.gameplay-progress .row{margin-left: -5px; margin-right: -5px;}
.gameplay-progress .progress{border-radius:0; background-color:rgba(0,0,0,0.5);}
.progress{margin-bottom:0px;}
.progress-bar-theme{background-color:rgba(95, 0, 0, 1);}

.gameplay-result-box{}
.gameplay-result-box .gameplay-result-title{font-weight:600; margin-left:10px; font-size:12px;}
.gameplay-result ul{margin-bottom:0px; list-style:none; display:inline-block; padding:0;}
.gameplay-result ul li{display:inline-block; margin:0 5px;}
.gameplay-result ul li span{width:25px; height:25px; line-height:25px; font-size:12px; text-align:center; font-weight:600; background-color:rgba(0,0,0,0.5); float:left; border-radius:50%;}
.gameplay-result ul li.gameplay-result-win span{background-color:rgba(70,185,0,0.9)}
.gameplay-result ul li.gameplay-result-loss span{background-color:rgba(200,0,0,0.9)}


.team-name{background-color: #5c000b; position: relative; right: -135px; text-align: center; transform: skewX(-10deg); padding:5px;}
.team-name-right{background-color: #5c000b; float: left; left: -69px; padding: 5px !important; position: relative; text-align: center !important; transform: skewX(-10deg); width: 100%;}
.team-name span, .team-name-right span{line-height:18px; transform:skew(10deg); font-weight:bold; text-transform:capitalize;}
.team-name span.sub-text, .team-name-right span.sub-text{font-size:12px; font-weight:bold; transform:skew(10deg); text-transform:lowercase; color:rgba(0,0,0,0.7); text-shadow:0 1px 0 rgba(255, 255, 255, 0.1)}

.esport-create-team-mainbox{height:615px; position:relative; z-index:1; overflow:hidden;}
.esport-create-team-mainbox::after{background: #b9b9b9 none repeat scroll 0 0; content: ""; height: 780px; position: absolute; left:49%; top: -75px; transform: rotate(10deg); transition: all 0.35s ease 0s; width: 60%; z-index: -1;}
.team-rightside .esport-user-img{right:0px;}
.esport-create-team-mainbox .esport-user-teamName{line-height:40px;}
.team-player-list{position:relative; height:70px; float:left; width:100%; margin-left:10px;}
.team-rightside .team-player-list{margin-left:0px; margin-right:10px;}
.team-players{border: 1px solid #333; padding:5px; position:absolute; height:61px; overflow:hidden; transition: height 0.8s ease-in 0s; }
.team-players:hover{background:#EEE;}
.team-players:hover .esport-user-img img , .team-players-active-history .esport-user-img img{box-shadow: 0 0 2px #000;}

.team-players, .team-players-right{border-radius:4px;}
.team-players .esport-user-img, .team-players-right .esport-user-img{width:50px;}
.team-players .esport-user-img img, .team-players-right .esport-user-img img{width:50px; border-radius:2px;}

.team-players, .team-rightside{ text-transform: lowercase;}
.team-players .esport-user-teamName{line-height:15px;}
.team-players .esport-user-team{padding-left:60px;}
.team-rightside{float:right;}
.team-rightside .esport-user-team{padding-left:inherit; padding-right:60px; text-align:right;}
.team-players-right{border: 1px solid #999; height: 61px; overflow: hidden; padding: 5px; position: absolute; transition: height 0.8s ease-in 0s;}

.team-players-right .esport-user-teamName{line-height:15px; color:#000;}
.team-players-right .esport-user-img{right:5px;}
.team-players .player-detail, .team-players-right .player-detail{font-size:12px; color:#848484; float:left; font-weight:600; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);}

.team-players{transition:background 0.2s ease-out 0s;}
.team-players:hover .esport-user-teamName{color:#000; transition:color 0.2s ease-out 0s;}

.team-players-right:hover{background:#EEE; transition:background 0.2s ease-out 0s; border:1px solid #999;}
.team-players-right:hover .esport-user-teamName{color:#666; transition:color 0.2s ease-out 0s;}

.team-player-chart{border-top: 1px solid rgba(0, 0, 0, 0.5); border-bottom: 1px solid rgba(0, 0, 0, 0.5); float: left; margin-top: 10px; margin-bottom:10px; padding: 10px 0; width: 100%;}
.chart-box{background-color: #000; border: 2px solid #fff; border-radius: 60px; height: 60px; line-height: 16px; width: 60px;}
.chart-box span{position:relative; top:12px; width:100%; float:left;}
.chart-box span.chart-result{font-weight: 600;}
.chart-box span.chart-label{font-weight: 600; font-size:11px; text-transform:lowercase;}
.match-history-box{float:left; width:100%;}
.match-history-lable{color: #000; font-weight: bold; line-height: 25px; padding-left: 10px;}
.match-result ul{list-style:none; margin:0px; padding:0px;}
.match-result ul li{width:25px; height:25px; line-height:22px; float:left; margin-right:15px; border-radius:100%; background:#FFF; color:#FFF; text-align:center; font-weight:600;}
.match-result ul li.history-result-win{background:rgba(70, 185, 0, 0.9);}
.match-result ul li.history-result-loss{background:rgba(200, 0, 0, 0.9);}
.team-player-detail-bottom{float:left; width:100%; margin-top:10px; padding-top:7px; border-top: 1px solid rgba(0, 0, 0, 0.5);}
.team-player-detail-bottom button{width:49%; text-transform:lowercase; font-size:15px;}

.team-player-list .team-players-active-history{height:245px; transition: height 0.8s ease-out 0s; z-index: 2; background:#EEE;}
/*.team-player-list:hover .team-players-right{height:245px; transition: height 0.8s ease-out 0s; z-index: 2;}*/

.team-player-list{ cursor:pointer;}
.team-player-list a.detail-arrow{background: #5c000b none repeat scroll 0 0; border-radius: 25px; float: right; height: 25px; line-height: 24px; position: absolute; right: 5px; text-align: center; top: 20px; width: 25px; z-index: 10; cursor:pointer;}
.team-player-list a.detail-arrow i{color:#FFF; font-size:12px;}
.team-player-list .team-players-active-history .esport-user-teamName{color:#000;}
.btn-position{position:absolute; bottom:50px;}
.white-line{background: #fff none repeat scroll 0 0; height: 102%; left: 48.2%; position: absolute; top: -5px; transform: rotate(10deg); width: 7px; z-index: 999;}
.teamvs{background: #fff none repeat scroll 0 0; border-radius: 50px; color: #000; font-weight: bold; left: 47.5%; line-height: 50px; position: absolute; text-align: center; top: 35%; width: 50px; z-index: 999; font-size:16px; box-shadow:0px 0px 15px #fff;}
.team-text{color: #666; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); text-transform: lowercase;}

.no-anyplayer{width:100%; float:left; padding:10%; position:relative; top:5%;}
.no-anyplayer .team-text{line-height:28px; text-transform:lowercase; float:left; width:100%; color:#666; text-transform:lowercase; margin-bottom:30px;}
.no-anyplayer .btn-position{position:relative; bottom:inherit;}

/* tooltip black style*/
 .hint, [data-hint] {
  position: relative;
  display: inline-block;
  
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ }
  .hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
  .hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
    visibility: visible;
    opacity: 1; }
  .hint:hover:before, .hint:hover:after, [data-hint]:hover:before, [data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  .hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  .hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap; }

.hint--top:before {
  border-top-color: #383838; }

.hint--bottom:before {
  border-bottom-color: #383838; }

.hint--left:before {
  border-left-color: #383838; }

.hint--right:before {
  border-right-color: #383838; }

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -12px; }
.hint--top:after {
  margin-left: -18px; }
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 40%; }
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
  margin-top: -12px; }
.hint--bottom:after {
  margin-left: -18px; }
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 50%; }
.hint--bottom:hover:after, .hint--bottom:hover:before, .hint--bottom:focus:after, .hint--bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px; }
.hint--right:after {
  margin-bottom: -14px; }
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%; }
.hint--right:hover:after, .hint--right:hover:before, .hint--right:focus:after, .hint--right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px; }
.hint--left:after {
  margin-bottom: -14px; }
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%; }
.hint--left:hover:after, .hint--left:hover:before, .hint--left:focus:after, .hint--left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

/**
 * source: hint-theme.scss
 *
 * Defines basic theme for tooltips.
 *
 */
.hint, [data-hint] {
  /**
   * tooltip body
   */ }
  .hint:after, [data-hint]:after {
    text-shadow: 0 -1px 0px black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 *
 */
/**
 * Error
 */
.hint--error:after {
  background-color: #ff5b33;
  text-shadow: 0 -1px 0px #592726; }
.hint--error.hint--top:before {
  border-top-color: #ff5b33; }
.hint--error.hint--bottom:before {
  border-bottom-color: #ff5b33; }
.hint--error.hint--left:before {
  border-left-color: #ff5b33; }
.hint--error.hint--right:before {
  border-right-color: #ff5b33; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0px #6c5328; }
.hint--warning.hint--top:before {
  border-top-color: #c09854; }
.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }
.hint--warning.hint--left:before {
  border-left-color: #c09854; }
.hint--warning.hint--right:before {
  border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0px #193b4d; }
.hint--info.hint--top:before {
  border-top-color: #3986ac; }
.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }
.hint--info.hint--left:before {
  border-left-color: #3986ac; }
.hint--info.hint--right:before {
  border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0px #1a321a; }
.hint--success.hint--top:before {
  border-top-color: #458746; }
.hint--success.hint--bottom:before {
  border-bottom-color: #458746; }
.hint--success.hint--left:before {
  border-left-color: #458746; }
.hint--success.hint--right:before {
  border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible; }
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) hint--rounded
 *
 */
.hint--rounded:after {
  border-radius: 4px; }

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--no-animate
 * 	2) hint--bounce
 *
 */
.hint--no-animate:before, .hint--no-animate:after {
  -webkit-transition-duration: 0ms;
  -moz-transition-duration: 0ms;
  transition-duration: 0ms; }

.hint--bounce:before, .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }

.validationMessage,.errorMessage{
    color:#ff0000;
}

.success_message{
    color : #0F9E5E !important;
}
.active,.active a{
    color: #000 !important;
}